

html {
  height: 100%;
}
body {
  padding:0;
margin:0;
overflow:hidden !important;
width:100%;
font-family: 'Merriweather', serif;
 height:100%;
font-weight:300;
font-size:14px;
background:url("../images/woodbody.jpg") no-repeat; 
-webkit-background-size: cover !important;
-moz-background-size: cover !important;
-o-background-size: cover !important;
background-size: cover !important;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Raleway', sans-serif;
color:#5a5a5a;

}
h1{
font-weight:700;
font-size:64px;
}
h2{
font-weight:900;
font-size:40px;
}
h3{
font-weight:500;
font-size:20px;
}
h4{
font-weight:500;
font-size:16px;
font-family: 'Raleway', sans-serif;
}
p{
font-family: 'Merriweather', serif;
font-weight:300;
color:#797878;
}
p{
font-size:12px;
line-height:27px;
}
img{
width:auto;
height:auto;
}
.top-to-30px{
padding-top:30px;
}
.icon-next{
width:50px;
height:50px;
padding-left:14px;
padding-top:7px;
display:none;
background:#4B4B4B;
font-size:24px;
color:#fff;
cursor:pointer;
margin-left:200px;
position:relative;

}
.right-side-container{
width:230px;
position:absolute;
top:0;
left:-230px;
z-index:9999;
padding:0px 30px 30px 30px; 
display:inline-block;
background:#fff;
}
.right-side-container h3{
margin-top:-20px;
}
.right-side-container a{
   text-decoration:none;
}
.template-button{
color:#5a5a5a;
border:2px solid #F4C43F;
background:transparent;
border-radius:10px;
font-size:14px; 
font-weight:500;
display:inline-block;

margin-right:5px;
margin-bottom:5px;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
padding:5px 15px;
text-decoration:none;
}

.template-button:hover{
text-decoration:none;
border:2px solid #F4C43F;
background:#F4C43F;
color:#fff;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.tooltip > .tooltip-inner {background-color: #4B4B4B;}
.tooltip.top  .tooltip-arrow{border-top-color:#4B4B4B !important;}

.attract{
color:#4B4B4B;
border-bottom:2px solid #4B4B4B;

padding:5px;
display:inline-block;
}
.self-paragrapher .attract{
margin-top:20px;
display:inline-block;
}
img{
width:100%;
height:100%;
}
.right-align{
text-align:right;
margin-bottom:-2px;
}
.nano .nano-content { padding: 10px 50px;  z-index:99999; }
.nano > .nano-pane { background: #fff !important; margin-bottom:10px;  z-index:99999;}
.nano> .nano-pane > .nano-slider { background: #F4C43F !important; z-index:99999;}
 
.wrapper{
max-width:1280px;
margin:auto;
 
}
.open-margin{
margin-left:0px;
}
.cover{
max-width:400px;
display:block;
margin: 0% auto; 
height:100%;
margin-top:0px;
min-height:100vh; 
z-index:1;
padding-left:0;
position:relative;
-webkit-box-shadow: 0px 5px 5px 3px rgba(41,47,43,1);
-moz-box-shadow: 0px 5px 5px 3px rgba(41,47,43,1);
box-shadow: 0px 5px 5px 3px rgba(41,47,43,1);

}
.cover-content{
position: absolute;
top: 0;
bottom:0;
left:0;
min-height:100vh;
right:0;
max-width:400px;
height: 100%;
display:inline-block;


overflow:hidden;
border-bottom:10px solid #F4C43F;
border-radius:0px;
background:url("../images/cover/cover_image.png"); 
-webkit-background-size: cover !important;

-moz-background-size: cover !important;
-o-background-size: cover !important;
background-size: cover !important;
z-index:2;
}
.cover-content-overlay{
 max-width:400px;
height:100%;
 min-height:100vh;
 background:rgba(90, 90, 90, 0.4);
 border-radius:5px;
 
 text-align:center;
}
.cover-content-overlay h2{
text-align:left;
color:#fff;
font-size:30px;
font-weight:700;
padding:10px 20px 0px 35px;
margin:0 30px 0 0;
text-shadow: 0 1px 0 #000;
 }
.cover-content-overlay h4{
text-align:left;
color:#fff;
font-weight:500;
font-size:16px;
padding:10px 20px 50px 35px;
margin:0 30px 0 0;
font-family: 'Merriweather', serif;
text-shadow: 0 1px 0 #000;

}
.open_button{
padding:5px 30px 5px 0px;
background:#F4C43F;
color:#fff;

bottom:0;
left:33.5%;
font-size:16px;
position:absolute;
text-decoration:none;
}
.open_button:hover{
text-decoration:none;
color:#fff;
}
.social-box{
width:100%;
height:70px;
position:absolute;
bottom:0;
background:#F4C43F;
padding:5px;
}
.social-box ul{
list-style-type:none;
margin-left:-50px;
margin-top:11px;
}
.social-box ul li{
 display:inline-block;
 width:50px;
 height:50px;
 margin-left:10px;
 margin-bottom:20px;
 background:#e1b027;
 border-radius:50px;
 
}
.social-box ul li a{
text-decoration:none;
color:#fff;
padding-top:15px;
display:block;
-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
 
}
.fb:hover{
background:#3b5998;
color:#fff;
-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.google:hover{
background:#dd4b39 ;
color:#fff;
-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.insta:hover{
background:#3f729b ;
color:#fff;
-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.pin:hover{
background:#c8232c ;
color:#fff;
-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.twitter:hover{
background:#cee3f8 ;
color:#fff;
-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.open-button:hover{
text-decoration:none;
}
.button_icon{
background:#e1b027;
color:#fff;
padding:5px 7px;
margin-right:20px;
}
.right-side{
margin-left:0px;
padding:0px 30px 0px 30px ;
min-height:100vh;
overflow:hidden !important;
background:#fff;
}
.open-margin   .active{
 display:none;
}

.ribbon {
  position: relative;
  width: 24px;
  height: 24px;
  float: right;
  cursor:pointer;
  margin-top:-20px;
  background: #4B4B4B;
}
.ribbon:after, .ribbon:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.ribbon:before {
  left: 0;
  border-left: 12px solid #4B4B4B;
}
.ribbon:after {
  right: 0;
  border-right: 11px solid #4B4B4B;
}

.select {
  text-align: center;
}

.select h3 {
  margin-top: 0px;
  margin-left:2px;
  color:#fff;
}

.tabs {
    margin:  0;
    padding: 0;
    list-style: none;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
    width: 100%; /* [3] */
}

    .tabs__item {
        display: table-cell; /* [4] */
    }

        .tabs__link {
            display: block; /* [5] */
        }



.primary-nav {
    text-align: center;
    box-shadow: 1px 1px 1px #ddd;
    overflow: hidden; /* [1] */
	margin-bottom:20px;
}

        .primary-nav a {
            padding: 1em;
            background-color: #4B4B4B;
            color: #fff;
            font-weight: 300;
			font-family: 'Merriweather', serif;
			font-size:14px;
			border-right:2px solid #3f3f3f;
            text-decoration: none;
			-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
        }
		.primary-nav a .icon{
		  display:block;
		  font-size:24px;
		}
		.primary-nav a .text{
		  display:none;
		  
		}
        
		.primary-nav a:hover{
	   -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
	     background:#3f3f3f;
		 color:#fff;
	   } 
     .primary-nav a.active-nav{
	   -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
	     background:#3f3f3f;
		 color:#fff;
	   } 
.ex-wrapper{
width:100%;
 padding:0;
  
 margin:0 0 0 0;
}
.heading-attract{
padding:5px 15px;
background:#F4C43F;
color:#fff;

}
.about h2{
color:#F4C43F;
padding-bottom:10px;
 
text-align:center;
text-transform:uppercase;
padding-top:10px;

}
.color{
color:#5a5a5a;
}
.self-paragrapher{
margin-top:45px;
margin-bottom:25px;
 
line-height:27px;
border-left:8px solid #F4C43F;
}
 
.self-paragrapher p {
padding:0px 30px 15px 30px;
}
.self-paragrapher h3{
padding: 0px 30px 10px 30px;
font-weight:500;
font-size:20px;
font-family: 'Raleway', sans-serif;
}
table{
border-collapse: collapse;
width: 100%;
margin-bottom:25px;
margin-left:10px;
}
td, th {    
    border: 1px solid #eaeaea;
    text-align: left;
}
th, td {
    padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:3px;
	color:#797878;
	display:block;
	font-size:14px;
	margin-left:20px;
}
table tr
{
margin-bottom:0px;
}
.background{
padding-right:60px;
}
.first-column{
background:#F4C43F;
color:#fff;
border:1px solid #fff;
font-size:14px;

}
.image-bottom{
display:inline-block;
margin-left:30px;
margin-top:5px;
}
.thumbnail{
max-width:70px;
height:auto;
border:2px solid #F4C43F;
}
.self-paragrapher .sign-image{
width:100%;
height:auto;
max-width:200px;
margin-top:10px;
margin-left:20px;
margin-bottom:0px;
}
.main-buttons{
margin:-10px 0 50px 30px;
padding:0;
}
.main-buttons a{
display:inline-block;
padding:5px 10px;
margin-bottom:5px;
color:#5a5a5a;
background:transparent !important;
border:2px solid #F4C43F;
font-size:18px;
font-weight:500;
text-decoration:none;
}
 
.main-heading{
padding-bottom:10px;
display:inline-block;
font-weight:500;
font-size:20px;
}
.technical{
margin-top:-10px;
}
.skill-progress{
width:100%;
margin-bottom:5px;
position:relative;
height:7px;
border-radius:5px;
border:1px solid #F4C43F;
}
.inside-progress-bar{
height:5px;
width:0%;
position:absolute;
left:0;
right:0;
background:#F4C43F;
bottom:0;
}
.skill-progress-personal{
width:100%;
margin-bottom:5px;
position:relative;
height:7px;
border-radius:5px;
border:1px solid #F4C43F;
}
.skill-title-personal{

}
.inside-progress-bar-personal{
height:5px;
width:0%;
position:absolute;
background:#F4C43F;
left:0;
right:0;
bottom:0;
}
.first-child{
font-family: 'Merriweather', serif;
font-weight:300;
font-size:14px;
margin:40px 0px 0px 0px;
}
.other-childs{
font-family: 'Merriweather', serif;
font-weight:300;
font-size:14px;
margin:21px 0px 0px 0px
}
.progress-container{
padding-bottom:20px;
margin-top:25px;
 
}
 
.progress-container-personal{
padding-bottom:20px;
margin-top:20px;
 
}

.plans{
margin-top:30px;
margin-bottom:25px;
}
.plan-text h4{
margin-top:30px;
padding-bottom:10px;
}
.plan-text p{
padding-bottom:20px;
}
.service{
padding-bottom:15px;
margin-top:10px;
}
.service-box{
width:100%;
border-right:2px solid #eaeaea;
border-bottom:2px solid #eaeaea;
height:auto;
margin:20px 0 10px 0;
}
.read-more-button-a{
float:right;
 
}
.read-more-button{
width:30px;
height:30px;
padding-top:5px;
padding-left:12px;
text-align:center;

float:right;
text-decoration:none;
background:#F4C43F;
color:#fff;
}
.read-more-button:hover{
text-decoration:none;
color:#fff;
}
.heading-box .side-circle{
width:50px;
height:50px;
padding-right:30px;
display:inline-block;
background:#4B4B4B;
text-align:center;

border-radius:30px;
}
.side-circle p{
color:#fff;
font-size:15px;
padding:11px 20px 0px 17px;
text-align:center;
}
.heading-box h4{
display:inline-block;
color:#50514f;
padding-left:30px;
}
.heading-box .main-text{
margin-top:20px;
margin-bottom:0px;
}
.lines{
width:100%;
height:2px;
max-width:50px;
background:#F4C43F;
margin:10px 0 0px 0;
}
.service-two{
margin-top:55px;

}
.service-two-box{
position:relative;
padding:30px 30px 15px 30px;
margin-bottom:25px;
border-top:2px solid #F4C43F;
border-bottom:8px solid #F4C43F;
border-left:2px solid #F4C43F;
border-right:2px solid #F4C43F;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.service-two-box h4{
text-align:center;
margin-top:0px;
padding-bottom:20px;
border-bottom:2px solid #F4C43F;
display:inline-block;
}
.service-two-circle-icon{
width:50px !important;
height:50px !important;
display:inline-block;
position:absolute;
top:-25px;
left:0;
margin:auto;
border-radius:30px;
right:0;
font-size:16px;
color:#fff;
text-align:center;
background:#4B4B4B;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.service-two-box p{
padding-top:15px;
}
.service-two-circle-icon i{
padding-top:16px;
}
.service-two-box:hover{
}

.service-two-box:hover .service-two-circle-icon {
background:#F4C43F;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
-webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.service-third-style{
margin-bottom:20px;
margin-top:30px;
}
.third-service-box{
width:100%;
height:auto;
margin:0px 0px 30px 0px;
padding:30px 30px 15px 30px;
border:2px solid #eaeaea;
-webkit-box-shadow: 0px 10px 12px -1px rgba(214,211,214,1);
-moz-box-shadow: 0px 10px 12px -1px rgba(214,211,214,1);
box-shadow: 0px 10px 12px -1px rgba(214,211,214,1);
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.third-service-icon{
width:50px !important;
height:50px !important;
margin:auto auto 20px auto;
border-radius:30px;
font-size:16px;
color:#fff;
text-align:center;
background:#4B4B4B;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.third-service-icon i{
padding-top:16px;
}
.third-service-box h4{
text-align:center;
padding-top:10px;
}
.third-service-box .line{
width:100%;
height:2px;
background:#F4C43F;
margin-top:20px;
margin-bottom:25px;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.third-service-box:hover{
background-color:#F4C43F;
border:2px solid #F4C43F;
border-radius:10px;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
	 
}
.third-service-box:hover .line{
background-color:#fff;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.third-service-box:hover p{
color:#fff;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.third-service-box:hover h4{
color:#fff;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.third-service-box:hover .third-service-icon{
background:#fff;
color:#F4C43F;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.third-service-box 
/*=========Close Here=======*/
/*===Close First Section Here====*/


/*=====Starting Section Second ====*/
.resume  {
padding-bottom:50px;
}
.icon-resume{
width:40px !important;
height:40px !important;
display:inline-block;
background:#F4C43F;
color:#fff;
font-size:18px;
margin-right:25px;
padding-top:10px;
border-radius:30px;
text-align:center;
}

.resume h2{
color:#F4C43F;
padding-bottom:10px;
 
text-align:center;
text-transform:uppercase;
padding-top:10px;
}
 
.resume p {
max-width:280px;
}
.mobile-space{
padding-top:50px;
}
.education-experience-section{
margin-top:50px;
}
.education-experience-section h3{
margin-top:0px;
padding-bottom:10px;
margin-bottom:40px;
}
.year-box h3{
padding-bottom:10px;
margin-bottom:25px;
color:#50514f;
font-size:16px;
font-weight:500;
margin-top:-7px;
}
.content-box{
position:relative;
padding-left:30px;
padding-right:10px;
margin-left:5px;
display:inline-block;
border-left:2px solid #F4C43F;
}
.year{
font-size:14px;
font-weight:500;
color:#b1b1b0;
font-weight:300;

padding-left:5px;
padding-right:5px;
}
.content-box p {
padding-top:30px;
padding-bottom:15px;
}
.resume .second-section{
margin-top:50px;
}
.content-box .circle{
width:15px;
height:15px;
left:-8px;
top:0;
position:absolute;
border-radius:30px;
background:#F4C43F;
}
.content-box-review{
position:relative;
padding-left:30px;
margin-left:22px;
padding-right:10px;

display:inline-block;
border-left:2px solid #F4C43F;
}
.content-box-review p {
padding-top:30px;
padding-bottom:15px;
}
.content-box-review .circle-image{
width:50px;
height:50px;
left:-25px;
top:0;

position:absolute;
border-radius:30px;
background:#F4C43F;
}
.name-box h3{
padding-bottom:10px;
margin-bottom:25px;
color:#50514f;
font-weight:500;
padding-left:20px;
font-size:16px;
margin-top:-7px;
}
.expert-area{
font-size:14px;
font-weight:500;
color:#b1b1b0;
font-weight:300;

padding-left:20px;
padding-right:5px;
}
.resume-button-container{
width:100%;
text-align:center;
margin-top:50px;
margin-bottom:50px;
}
.resume-button{
color:#5a5a5a;
border:2px solid #F4C43F;
background:transparent;
border-radius:10px;
font-size:14px;
font-weight:500;
display:inline-block;

margin-right:5px;
margin-bottom:5px;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
padding:5px 15px;
text-decoration:none;
}
.resume-button:hover{
text-decoration:none;
border:2px solid #F4C43F;
background:#F4C43F;
color:#fff;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
/*========Close Second Section ======*/



/*========3.3.4 Starting Portfolio Sections=====*/

.portfolios{
padding-bottom:30px;
}
.portfolio{
width:100%;
}
.portfolio h2{
color:#F4C43F;
padding-bottom:10px;
 
text-align:center;
text-transform:uppercase;
padding-top:10px;
}
.portfolio_nav{
margin:50px auto 30px auto;
width:100%;
padding:0px 30px 10px 0px;
text-align:center;
}
.portfolio_nav ul{
list-style-type:none;
}
.portfolio_nav ul li{
text-decoration:none;
padding:5px 15px;
text-align:center;
color:#50514f;
border-radius:10px;
cursor:pointer;
font-size:14px;
display:inline-block;
border: 2px solid #F4C43F;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.portfolio_nav ul li:hover{
background:#F4C43F;
color:#fff;
-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.portfolio_nav ul .active{
background:#F4C43F;
color:#fff;
}
.popup-content{
padding:20px 20px;
}
.popup-content img{
width:100%;
height:auto;
padding:0;
}
.white-content{
width:100%;
position:relative;
background:#fff;
max-width:600px;
margin:auto;

padding:20px;
}
.white-content img{
padding:0;
}
.portfolio_title{
color:#50514f;
}
.tag_box{

display:inline-block;
height:30px;
background:#F4C43F;
color:#fff;
padding-top:5px;
position:relative;
margin-left:20px;
margin-top:5px;
margin-bottom:5px;
text-align:left;
padding-left:10px;
padding-right:30px;
font-size:14px;
font-weight:500;
}
 
.tag{
width: 0;
height: 0;
position:absolute;
left:-15px;
top:0;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #F4C43F transparent transparent;
}
.small-circle{
width:5px;
height:5px;
background:#fff;
border-radius:30px;
position:absolute;
right:10px;
top:13px;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
} 
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  display:block;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
   margin-bottom:30px;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
 
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 24px;
  background-color: transparent;
  color: #FFF;
  margin-top:0px;
  margin-bottom:-10px;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  width:40px !important;
height:40px !important;
  opacity: 0;
  padding-top:10px;
  text-align:center;
  display:inline-block;
  margin-right:10px;
  border-radius:5px;
  text-decoration:none;
  background:#F4C43F;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
/*=======Close Third Sections=====*/


/*======Starting Blog Section=====*/
.blog h2{
color:#F4C43F;
padding-bottom:10px;
 
text-align:center;
text-transform:uppercase;
padding-top:10px;
}
.blog-start{
margin-top:40px;
margin-bottom:50px;
}
.blog-content{
margin-top:50px;
padding:0px 30px;
border-left:8px solid #F4C43F;
}
.blog-icons{
margin-top:20px;
margin-bottom:20px;
}
.blog-icons ul{
list-style-type:none;
margin:0;
max-width:800px;
padding:0;
}
.blog-icons ul li{
text-decoration:none;
display:inline-block;
margin-right:20px;
color:#797878;
font-weight:300;
font-family: 'Merriweather', serif;
font-size:14px;
}
.blog-icons span{
margin-right:10px;
display:inline;
color:#F4C43F;
}
.blog-image{
position:relative;
}
.date-box{
position:absolute;
top:30px;
left:20px;
}
.fancy {
background-color: #F4C43F;
float: right;
position: relative;
padding: 45px 5px 0px;
margin-left: 10px;
border-radius:10px;
}

.fancy .year{
display: block;
position: absolute;
right: -5px;
top: 15px;
color:#fff;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
  font-weight:bold;
}

.fancy .month {
text-transform: uppercase;
font-size: 18px;
color:#fff;

}

.fancy .day {
font-size: 40px;
line-height: 45px;
position: absolute;
left: 5px;
top: 0px;

color:#fff;
}
.blog-content a{
margin-top:10px;
}
.contact h2{
color:#F4C43F;
padding-bottom:10px;
 
text-align:center;
text-transform:uppercase;
padding-top:10px;
}
 
.map{
width:100%;
margin-top:30px;
margin-bottom:50px;
height:217px;
border-radius:0px;
}
.contact-info{
border-left:8px solid #F4C43F;
padding-right:30px;
margin-top:40px;

}
.contact-info h4{
color:#F4C43F;
font-weight:300;
font-family: 'Merriweather', serif;
}
.contact-box-inline{
display:block;
}
.contact-info .inline{
display:inline-block;
margin-left:20px;
}
.left-side{
padding-top:0.1px;
margin-top:35px;
  -webkit-box-shadow: 0px 10px 12px -1px rgba(214,211,214,1);
-moz-box-shadow: 0px 10px 12px -1px rgba(214,211,214,1);
box-shadow: 0px 10px 12px -1px rgba(214,211,214,1);
}
.form-box{
width:100%;
height:auto;
padding:15px 30px 30px 30px;

margin-bottom:50px;
-webkit-box-shadow: 0px 10px 12px -1px rgba(214,211,214,1);
-moz-box-shadow: 0px 10px 12px -1px rgba(214,211,214,1);
box-shadow: 0px 10px 12px -1px rgba(214,211,214,1);
background:#F4C43F;
}
.input_panel{
width:100%;
height:30px;
color:#fff;
margin-bottom:20px;
background:transparent !important; 
border:2px solid #fff;
}
.input_panel_textarea{
width:100%;
background:transparent !important; 
height:100px;
color:#fff;
border:2px solid #fff;
}
label{
color:#fff;
font-size:14px;
margin-top:10px;
font-weight:500;
}
textarea::-webkit-input-placeholder {
color: rgb(255,255,255) !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: rgb(255,255,255) !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: rgb(255,255,255) !important;  
}
 
textarea:-ms-input-placeholder {  
color: rgb(255,255,255) !important;  
}
.button_default{
border-radius:10px;
font-size:14px;
font-weight:500;
padding:5px 15px;
color:#fff;
margin-top:30px;
border:2px solid #fff;
background:transparent;
}


@media screen and (min-width: 360px){
.hovereffect h2{
 margin-top:10px;
 margin-bottom:0px;
}
}
@media screen and (min-width: 480px){
.hovereffect h2{
 margin-top:20px;
 margin-bottom:0px;
}
.self-paragrapher .attract{
margin-top:0px;
}
.address-box:before{
border-bottom:2px solid #4B4B4B;
}
 
@media screen and (min-width: 768px){
.primary-nav a .icon{
		  display:none;
		  
		}
	.primary-nav a .text{
		  display:block;
		  
		}
.open-margin{
margin-left:30%;
}
 table{
border-collapse: collapse;
width: 100%;
margin-bottom:25px;
margin-left:30px;
}
table, td, th {    
    border: 1px solid #eaeaea;
    text-align: left;
}
th, td {
    padding-left:20px;
	padding-right:20px;
	padding-top:3px;
	color:#797878;
	display:table-cell;
	font-size:14px;
	margin-left:20px;
}
table tr
{
margin-bottom:20px;
}
.open-margin   .active{
 display:block;
 margin-left:15px;
}
.right-side{
margin-left:-15px;
padding-right:15px;
padding:0px 0px 0px 0px;
height:calc(100% - 60px);
min-height:calc(100vh - 60px);
margin-top:30px;
-webkit-box-shadow: 0px 5px 5px 3px rgba(66,66,66,1);
-moz-box-shadow: 0px 5px 5px 3px rgba(66,66,66,1);
box-shadow: 0px 5px 5px 3px rgba(66,66,66,1);
}
.mobile-nav{
display:none;
}
 
 .cover-content{
 min-height:calc(100vh - 60px);
 }
 .cover-content-overlay{
 min-height:calc(100vh - 60px);
 }
 .cover{
 margin-top:30px;
 min-height:calc(100vh - 60px);
 }
}
@media screen and (min-width: 990px){
.mobile-space{
padding-top:0px;
}
 .form-box{
 margin-top:40px;
 }
.plan-text h4{
margin-top:0px;
}
.icon-next{
display:block;
}
@media screen and (min-width: 1100px){
 .right-side{
margin-left:-43px;
padding-right:0;
}
.open-margin   .active{
 display:block;
 margin-left:30px;
}
}